@import '../../../styles/typography.css';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageFlower1 {
  top: -9.7%;
  transform: scaleX(-1);
  width: 131px;
}

.imageFlower4 {
  top: 15.3%;
  transform: scaleX(-1);
  width: 92px;
}

.imageFlower5 {
  bottom: -29px;
  width: 162px;
}

.title {
  composes: font-great-vibes;
  position: relative;
  margin-bottom: 2.3vw;
  font-size: 12.5vw;
  line-height: 1;
  text-align: center;

  @media (--mobile-large) {
    margin-bottom: 12px;
    font-size: 60px;
  }
}

.description {
  composes: font-fira-sans-light;
  position: relative;
  margin-bottom: 4.7vw;
  max-width: 65vw;
  font-size: 3.32vw;
  line-height: 4vw;
  text-align: center;

  @media (--mobile-large) {
    margin-bottom: 23px;
    max-width: 310px;
    font-size: 16px;
    line-height: 20px;
  }
}

.form {
  position: relative;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--mobile-large) {
    margin-bottom: 33px;
  }
}

.item {
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--mobile-large) {
    margin-bottom: 33px;
  }
}

.labelText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemTitle {
  composes: font-fira-sans-regular;
  margin-bottom: 4.8vw;
  font-size: 3.75vw;
  line-height: 4vw;

  @media (--mobile-large) {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 20px;
  }
}

.input,
.select {
  composes: font-fira-sans-regular;
  padding: 2px 15px;
  width: 100%;
  height: 30px;
  font-size: 13px;
  border: 1px solid rgba(57, 57, 57, 0.7);
  border-radius: 30px;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 40px;
}

.selectArrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  pointer-events: none;
}

.labelRadio,
.labelCheckbox {
  composes: font-fira-sans-light;
  padding-left: 4vw;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 3.75vw;
  line-height: 4vw;
  cursor: pointer;

  @media (--mobile-large) {
    padding-left: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}

.labelRadio {
  & + & {
    margin-top: 2vw;

    @media (--mobile-large) {
      margin-top: 10px;
    }
  }
}

.labelCheckbox {
  & + & {
    margin-top: 3.75vw;

    @media (--mobile-large) {
      margin-top: 18px;
    }
  }
}

.radio,
.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
}

.customRadio {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  border: 1px solid rgba(57, 57, 57, 0.7);

  @media (--mobile-large) {
    width: 15px;
    height: 15px;
  }
}

.radio:checked + .customRadio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.668vw;
  height: 1.668vw;
  border-radius: 50%;
  background-color: rgba(57, 57, 57, 0.7);

  @media (--mobile-large) {
    width: 8px;
    height: 8px;
  }
}

.customCheckbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3.125vw;
  height: 3.125vw;
  border: 1px solid rgba(57, 57, 57, 0.7);

  @media (--mobile-large) {
    width: 15px;
    height: 15px;
  }
}

.checkbox:checked + .customCheckbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.668vw;
  height: 1.668vw;
  background-color: rgba(57, 57, 57, 0.7);

  @media (--mobile-large) {
    width: 8px;
    height: 8px;
  }
}

.formTitle {
  composes: font-fira-sans-regular;
  font-size: 3.78vw;
  line-height: 4vw;
  text-align: center;

  @media (--mobile-large) {
    font-size: 18px;
    line-height: 20px;
  }
}

.submit {
  composes: font-fira-sans-regular;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 211px;
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-background);
  border-radius: 30px;
  transition: initial;
  cursor: pointer;

  @media (pointer: fine) {
    transition: background-color .2s linear;
  }

  &:hover {
    @media (pointer: fine) {
      background-color: var(--button-background-hover);
    }
  }

  &:active {
    background-color: var(--button-background-hover);
  }

  &:disabled {
    pointer-events: none;
    opacity: .6;
  }
}

.endText {
  composes: font-fira-sans-regular;
  font-size: 3.77vw;
  line-height: 4vw;
  text-align: center;

  @media (--mobile-large) {
    font-size: 18px;
    line-height: 20px;
  }
}
