.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color-main);
  color: var(--color-text);
}

.wrapper {
  overflow: hidden;
  padding: 31px var(--grid-padding-mobile) 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--grid-content-fluid);
  flex-grow: 1;
  background-color: var(--background-color-secondary);

  @media (--mobile-large) {
    padding: 31px var(--grid-padding) 29px;
  }
}

.appeal {
  margin-bottom: 26px;
}

.calendar {
  margin-bottom: 88px;
}

.location {
  margin-bottom: 43px;
}

.wishes {
  margin-bottom: 50px;
}

.chat {
  margin-bottom: 65px;
}