:root {
  --font-fallback: 'Segoe UI', '-apple-system', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-fira-sans: 'FiraSans', var(--font-fallback);
  --font-great-vibes: 'GreatVibes', var(--font-fallback);
  --font-klee-one: 'KleeOne', var(--font-fallback);

  --duration: .2s;
  --timing: ease-in-out;

  --background-color-main: #282c34;
  --background-color-secondary: #FCFCFC;

  --button-background: #393939;
  --button-background-hover: #474747;
  --button-color: #ffffff;

  --color-text: #393939;

  /* grid layout */
  --grid-padding-mobile: 22px;
  --grid-padding: 52px;
  --grid-content-fluid: calc(376px + 2 * var(--grid-padding));
}
