@import '../../../styles/typography.css';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageFlower4 {
  top: 50%;
  transform: translateY(-50%) translateY(-63px);
  width: 92px;
}

.imageFlower1 {
  bottom: 265px;
  width: 131px;
}

.locationWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  & + & {
    margin-top: 28px;
  }
}

.title {
  composes: font-great-vibes;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1;

  @media (--mobile-large) {
    margin-bottom: 20px;
    font-size: 60px;
  }
}

.image {
  margin-bottom: 11px;
  width: 100%;
  height: auto;
}

.name {
  composes: font-fira-sans-regular;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 27px;
  white-space: break-spaces;

  @media (--mobile-large) {
    font-size: 24px;
    line-height: 32px;
  }
}

.address {
  composes: font-fira-sans-light;
  font-size: 12px;
  line-height: 27px;

  @media (--mobile-large) {
    font-size: 16px;
    line-height: 32px;
  }
}
