@import '../../../styles/typography.css';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageFlower4 {
  top: 50%;
  transform: translateY(-50%) translateY(-19%);
  width: 92px;
}

.imageFlower1 {
  bottom: 25.8%;
  width: 131px;
}

.locationWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  & + & {
    margin-top: 6.2vw;

    @media (--mobile-large) {
      margin-top: 28px;
    }
  }
}

.title {
  composes: font-great-vibes;
  margin-bottom: 4vw;
  font-size: 12.53vw;
  line-height: 1;

  @media (--mobile-large) {
    margin-bottom: 20px;
    font-size: 60px;
  }
}

.image {
  margin-bottom: 2vw;
  width: 100%;
  height: auto;

  @media (--mobile-large) {
    margin-bottom: 11px;
  }
}

.name {
  composes: font-fira-sans-regular;
  margin-bottom: 0.4vw;
  font-size: 5vw;
  line-height: 6.6vw;
  white-space: break-spaces;

  @media (--mobile-large) {
    margin-bottom: 2px;
    font-size: 24px;
    line-height: 32px;
  }
}

.address {
  composes: font-fira-sans-light;
  font-size: 3.34vw;
  line-height: 6.6vw;

  @media (--mobile-large) {
    font-size: 16px;
    line-height: 32px;
  }
}
