@import '../../../styles/typography.css';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageFlower2 {
  top: -8.3%;
  width: 108px;
}

.imageFlower3 {
  bottom: -28.3%;
  width: 162px;
}

.title {
  composes: font-great-vibes;
  position: relative;
  margin-bottom: 2.4vw;
  font-size: 13.3vw;
  line-height: 1;
  text-align: center;

  @media (--mobile-large) {
    margin-bottom: 12px;
    font-size: 64px;
  }
}

.descriptionWrapper {
  position: relative;
  margin-bottom: 3.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (--mobile-large) {
    margin-bottom: 18px;
  }
}

.description {
  composes: font-fira-sans-regular;
  font-size: 4.76vw;
  line-height: 6.6vw;
  white-space: break-spaces;

  @media (--mobile-large) {
    font-size: 23px;
    line-height: 32px;
  }

  & + & {
    margin-top: 6.9vw;

    @media (--mobile-large) {
      margin-top: 34px;
    }
  }
}

.calendarTitle {
  composes: font-great-vibes;
  margin-bottom: 1.4vw;
  font-size: 5.5vw;
  line-height: 6.6vw;

  @media (--mobile-large) {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
  }
}

.calendarWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 258px;
}

.calendarHeader {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.calendarHeaderItem {
  composes: font-fira-sans-regular;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  font-size: 16px;
  line-height: 12px;
}

.calendarDays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calendarWeek {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & + & {
    margin-top: 8px;
  }
}

.calendarDay {
  composes: font-fira-sans-regular;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 18px;
}

.imageHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(4px);
  width: 56px;
  height: auto;
}

.calendarDaySpan {
  position: relative;
}
