@import '../../../styles/typography.css';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imageFlower3 {
  top: -36.4%;
  transform: scaleX(-1);
  width: 162px;
}

.imageFlower2 {
  bottom: -23%;
  transform: scaleX(-1);
  width: 108px;
}

.title {
  composes: font-great-vibes;
  position: relative;
  margin-bottom: 2.5vw;
  font-size: 12.5vw;
  line-height: 1;

  @media (--mobile-large) {
    margin-bottom: 12px;
    font-size: 60px;
  }
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;

  & + & {
    margin-top: 6.2vw;

    @media (--mobile-large) {
      margin-top: 29px;
    }
  }
}

.itemTitle {
  composes: font-fira-sans-regular;
  margin-bottom: 4.2vw;
  font-size: 5vw;
  line-height: 1;
  white-space: break-spaces;

  @media (--mobile-large) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.itemDescription {
  composes: font-fira-sans-light;
  font-size: 3.3vw;
  line-height: 4.2vw;

  @media (--mobile-large) {
    font-size: 16px;
    line-height: 20px;
  }

  & + & {
    margin-top: 4.4vw;

    @media (--mobile-large) {
      margin-top: 14px;
    }
  }
}
