.root {
  position: absolute;
  height: auto;
  opacity: 0;
}

.visible {
  animation: showImage 1s ease-in forwards;
}

.rootLeft {
  left: calc(-1 * var(--grid-padding-mobile));

  @media (--mobile-large) {
    left: calc(-1 * var(--grid-padding));
  }
}

.rootRight {
  right: calc(-1 * var(--grid-padding-mobile));

  @media (--mobile-large) {
    right: calc(-1 * var(--grid-padding));
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
